<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- connection pool -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/group152"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
        <property name="testOnBorrow" value="true"/>
        <property name="maxTotal" value="10"/>
        <property name="minIdle" value="0"/>
        <property name="minEvictableIdleTimeMillis" value="60000"/>
        <property name="validationQuery" value="select 1 from dual"/>
    </bean>

    <!-- hibernate config -->
    <bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>com.tdp2.group152.Passenger</value>
                <value>com.tdp2.group152.Ticket</value>
                <value>com.tdp2.group152.MinibusStop</value>
                <value>com.tdp2.group152.Minibus</value>
                <value>com.tdp2.group152.Journey</value>
                <value>com.tdp2.group152.CombiHasParadaId</value>
                <value>com.tdp2.group152.CombiHasParada</value>
                <!--<value>com.tdp2.group152.CombiHasViajeId</value>-->
                <!--<value>com.tdp2.group152.CombiHasViaje</value>-->
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="userService" class="com.tdp2.group152.UserService">
        <constructor-arg name="passengerDao" ref="passengerDAO"/>
    </bean>

    <bean id="passengerDAO" class="com.tdp2.group152.PassengerDAO">
        <constructor-arg name="sessionFactory" ref="hibernateSessionFactory"/>
    </bean>

    <bean id="reservationDAO" class="com.tdp2.group152.ReservationDAO">
        <constructor-arg name="sessionFactory" ref="hibernateSessionFactory"/>
    </bean>

    <!-- @Transactional support -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernateSessionFactory"/>
    </bean>

</beans>